@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant any-hover {
  @media (any-hover: hover) {
      @slot;
  }
}

@theme {

    --animate-change-bg: change-bg 50s ease-in-out infinite;

    @keyframes change-bg {
    0% {
        background-image: url(/background-carousel/1.jpg);
    }
    20% {
        background-image: url(/background-carousel/2.jpg);
    }
    40% {
        background-image: url(/background-carousel/3.jpg);
    }
    60% {
        background-image: url(/background-carousel/4.jpg);
    }
    80% {
        background-image: url(/background-carousel/5.jpg);
    }
    100% {
        background-image: url(/background-carousel/1.jpg);
    }
  }
}