@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant any-hover {
  @media (any-hover: hover) {
    @slot;
  }
}

@theme {
  --animate-change-bg-img: change-bg-img 20s ease-in-out infinite;

  @keyframes change-bg-img {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    25% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}
